# TwinCAT: Exclude build, user, and temp files  ---Qin wrote, June 12
*.tmc
*.user
*.sdf
*.suo
*.userprefs
*.compileinfo
*.lastbuildstate

# Visual Studio
.vs/
*.log

# TwinCAT runtime folders
_Boot/
_Temp/
Logs/

# Backup files
*.bak
*.~*
